/**
    COULEURS:
        bleu:   #0062a8
        jaune:  #cedb39
        vert:   #7ea046
*/

@font-face {
    font-family: "leelawUI";
    src: url('fonts/Leelawadee.ttf');
}

body {
    /* color: #73879C;
    background-color: #eeeeee !important;
    fonts-family: leelawUI;
    fonts-size: 13px;
    fonts-weight: 400;
    line-height: 1.471; */
    background-color: #eeeeee !important;
    font-family: leelawUI;
}


/*
    BACKGROUND COLOR
*/
.bg-bleu
{
    background-color: #0062a8 !important;
}
.bg-jaune
{
    background-color: #cedb39 !important;
}
.bg-orange
{
    background-color: #ff7619 !important;
}

.bg-blanc
{
    background-color: white !important;
}
.bg-vert
{
    background-color: #7ea046 !important;
}
.transparent
{
    background-color: transparent !important;
}

/*
    TEXT COLOR
*/
.txt-color-primaire
{
    color: #ff7619 !important;
}
.txt-color-bleu
{
    color: #009ee3 !important;
}
.txt-color-orange
{
    color: #ff7619 !important;
}
.txt-color-jaune
{
    color: #cedb39 !important;
}
.txt-color-vert
{
    color: #7ea046 !important;
}
.txt-color-grey-light
{
    color: #676767 !important;
}

.txt-color-noir
{
    color: black !important;
}
.txt-color-blanc
{
    color: white !important;
}
.txt-color-grey
{
    color: #eeeeee !important;
}
.txt-color-transparent
{
    color: transparent !important;
}
.txt-color-default
{
    color: #73879C !important;
}

.txt-color-rouge
{
    color: #e6222b !important;
}

/*
    TEXT FONT
*/
.txt-font-weight-bold
{
    font-weight: bold !important;
}

/*
    PADDING
*/
.padding-left-0
{
    padding-left: 0px !important;
}
.padding-right-0
{
    padding-right: 0px;
}
.padding-top-0
{
    padding-top: 0px;
}
.padding-top-1pc
{
    padding-top: 1%;
}
.padding-top-5pc
{
    padding-top: 5% !important;
}
.padding-top-2pc
{
    padding-top: 2% !important;
}
.padding-top-3pc
{
    padding-top: 3% !important;
}
.padding-bottom-0
{
    padding-bottom: 0px !important;
}
.padding-bottom-1pc
{
    padding-bottom: 1% !important;
}
.padding-bottom-5pc
{
    padding-bottom: 5% !important;
}
.padding-bottom-3pc
{
    padding-bottom: 3% !important;
}
.padding-0
{
    padding: 0px !important;
}
.margin-left-5pc
{
    margin-left: 5% !important;
}
/*
    MARGIN
*/
.margin-left-0
{
    margin-left: 0px;
}
.margin-right-0
{
    margin-right: 0px;
}
.margin-top-0
{
    margin-top: 0px;
}
.margin-top-4pc
{
    margin-top: 4% !important;
}
.margin-top-8pc
{
    margin-top: 8% !important;
}
.margin-top-5pc
{
    margin-top: 5% !important;
}
.margin-bottom-8pc
{
    margin-bottom: 8% !important;
}
.margin-bottom-5pc
{
    margin-bottom: 6% !important;
}
.margin-top-2pc
{
    margin-top: 2% !important;
}
.margin-bottom-1pc
{
    margin-bottom: 1% !important;
}
.margin-top-3pc
{
    margin-top: 3%;
}
.margin-top-1pc
{
    margin-top: 1%;
}
.margin-bottom-0
{
    margin-bottom: 0px !important;
}
.margin-bottom_5pc
{
    margin-bottom: 5%;
}
.margin-bottom_3pc
{
    margin-bottom: 3%;
}
.margin-bottom-2pc
{
    margin-bottom: 2% !important;
}
.margin-0
{
    margin: 0px !important;
}
.margin-left-right-5pc
{
    margin-left: 5% !important;
    margin-right: 5% !important;
}

/*
    FLOAT
*/
.float-right
{
    float: right;
}


/*
    BORDER SECTION
*/
.border-transparent
{
    border: 0px solid transparent;
}

/*
    DISPLAY
*/
.display-inline-block
{
    display: inline-block !important;
    margin: 1%;
}
.display-block
{
    display: block;
}
/*
    VISIBILITY
*/
.visibility-hidden
{
    visibility: hidden !important;
}
.display-none
{
    display: none !important;
}

/*
    LINK
*/
#mainmenu a
{
    color: #676767 !important;
    text-decoration: none !important;
    outline : none;
}
#mainmenu a:hover
{
    text-decoration: none !important;
}
#menu-item-446 a:hover
{
    font-weight: bold !important;
}

.h1-titre
{
    margin-top: 0px !important;
    color: #676767 !important;
    display:block;
    font-size:2.5714285em;
    line-height:1.1666666em;
    text-transform:uppercase;
    font-family:'liszt_fybook';
    margin-bottom:45px
}

.custom_separator{position:relative;overflow:hidden;margin-bottom:48px}

#ul_wrapper ul {
    list-style: none;
    padding: 0;
}
#ul_wrapper li {
    padding-left: 1.3em;
    padding-bottom: 20px;
}
#ul_wrapper li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.bloc-rox{width:260px;float:left;height:500px}
.bloc-rox h2{display:block;font-size:1.3571428em;font-family:'liszt_fyblack';padding:0 4px;margin-bottom:20px;text-transform:uppercase}
.bloc-rox .imgbloc{width:254px;height:150px;overflow:hidden;margin:0 auto 20px auto;background:#f3f3f3;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)}
.bloc-rox .textbloc{width:254px;margin:0 auto;height:125px;overflow:hidden}
.bloc-rox .textbloc p{font-weight:normal;color:#292929;font-size:0.9285714em}
.bloc-rox .textbloc strong{font-weight:normal;color:#292929;font-family:'liszt_fyblack'}
.bloc-rox .morebloc{padding-top:6px;display:block;text-align:right}
.bloc-rox .morebloc a{padding-right:22px;display:block;font-family:'liszt_fyblack';color:#292929}
.bloc-rox .videobloc{width:254px;margin:4px 0 0 3px;height:140px;overflow:hidden;margin-bottom:20px;background:#f3f3f3;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)}
.bloc-rox .argubloc{width:254px;margin:0 auto;text-align:center}
.bloc-rox .argubloc h3{display:block;font-size:0.9285714em;font-weight:normal;height:19px;text-transform:uppercase;margin:4px auto 6px auto;font-family:'liszt_fyblack';width:90%;color:#292929;overflow:hidden}
.bloc-rox .argubloc p{text-align:center;font-size:0.9285714em;text-transform:uppercase}
#videoSlider .bloc-rox{height:220px;margin:0 30px 0 0;overflow:hidden}

